<div id="footer1">
    <div>
        <img src="../../assets/asusulogo.svg"/>
        <div id="footlink">
            <div class="address">
                <p>Quick links</p>
                <div>
                    <p>About Us</p>
                    <p> Register </p>
                    <p>pricing</p>
                    <p> Contact Us </p>
                </div>
            </div>
            <div class="address">
                <p>Contact us</p>
                <div>
                    <p>askasusu.com.ng</p>
                    <p> +2348163000015 </p>
                    <p> +2349099488595 </p>
                </div>
            </div>
            <div class="address">
                <p>Abuja address</p>
                <div>
                    <p>
                        Plaza B, first floor,<br />
                        Bright star plaza, <br />
                        50 Ebitu Ekiwe <br />
                        Street, Jabi, Abuja ,<br />
                        FCT .
                    </p>
                </div>
            </div>
            <div class="address">
                <p>Lagos address</p>
                <div>
                    <p>
                        2A Lious Solomon<br />
                        close, off Ahmadu <br />
                        Bello way, Victoria <br />
                        Island, Lagos state.<br />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div id="subscribe">
            <p>Suscribe</p>
            <p>
                Join Our community and stay up to date with latest news, exclusive offers and insider access. Suscribe now to receive our newsletters straight to your inbox .
            </p>
            <div><input placeholder="Email Address" type="email" #mail/><button (click)="showMess(mail.value)"></button></div>
            <div id="message">
                <span [class]="errmess">
                    Your email address is incorrect kindly check the characters and re-enter.
                </span>
                <span [class]="sucmess">
                    Your email address has been succeefully registered.
                </span>
            </div>    
        </div>
        
        <button class="primary">
            Contact us
        </button>
        <p>DOWNLOAD APP</p>
        <p>
            <a href="https://www.google.com"><img src="../../assets/playstore.svg" /></a>
            <a href="https://www.google.com"><img src="../../assets/appstore.svg" /></a>
        </p>
    </div>
</div>
<div id="footer2">
    <div>
        <a href="https://www.google.com">Terms</a>
        <a href="https://www.google.com">Privacy</a>
        <a href="https://www.google.com">Cookies</a>
    </div>
    <div>
        <a href="https://www.google.com"><img src="../../assets/linkedin.svg" /></a>
        <a href="https://www.google.com"><img src="../../assets/facebook.svg" /></a>
        <a href="https://www.google.com"><img src="../../assets/twitter.svg" /></a>
        <a href="https://www.google.com"><img src="../../assets/instagram.svg" /></a>
    </div>
</div>
