<div class="partner1">
    <div>
        <img src="../../../assets/photo1.png" />
    </div>
    <div>
        <p>
            No more stressful paper work
        </p>
        <p>
            Join hundreds of cooperative across Nigeria who have already transformed thier savings and loans
            system with our plaform. Sign up now and experience the benefits of digital savings and loans .
        </p>
        <div class="check">
            <img src="../../../assets/check.svg" />
            <div>
                Say goodbye to manual recording and complex paper work, and say hello to an efficient, transparent and a secure way of managing your savings and loan.
            </div>
        </div>
        <div class="check">
            <img src="../../../assets/check.svg" />
            <div>
                Transform your organisation savings and loan system with our easy to use, digital platform
            </div>
        </div>
        <div class="check">
            <img src="../../../assets/check.svg" />
            <div>
                Our platform allows you to easily track your contribution, manage loan disbursements and repayment, and monitor your groups financial health.
            </div>
        </div>
        <div>
            <button class="primary">
                Get Started
            </button>
            <span>
                Talk To Us Directly
            </span>
        </div>
    </div>
</div>
<div class="partner2">
    <div>
        <img src="../../../assets/photo2.png" />
    </div>
    <div>
        <p>Still wondering why you should partner with us ?</p>
        <div class="check">
            <p>Expand your current operations</p>
            <div>
                <img src="../../../assets/check.svg" />
                <p>Our solution allows you to operate in multiple locations, ensuring you expand beyond communities you presently serve.</p>
            </div>
        </div>
        <div class="check">
            <p>Provide reliable service like a bank</p>
            <div>
                <img src="../../../assets/check.svg" />
                <p>With our parnerships and technology, we can help you provide services like a proper financial institution or a fintech providing automated solutions and services</p>
            </div>
        </div>
        <div class="check">
            <p>Our community</p>
            <div>
                <img src="../../../assets/check.svg" />
                <p>We are building a reliable community where cooperatives, businesses, merchants work together to ensure mutual goals and economic benefits are achieved collectively</p>
            </div>
        </div>
        <button class="primary">
            Get Started
        </button>
    </div>
</div>