<div id="aboutsection2">
    <div>
        <img src="../../../assets/photo1.png"/>
    </div>
    <div>
        <p>
            Hassle free payment <br />schedules for your company
        </p>
        <p>
            At ASUSU, we're dedicated to providing the best products and services for our clients. Our digital tools, such as the ASUSU cooperative management software, ASUSU disburse, and ASUSU easykiosk, are reliable and user-friendly. Plus, we've partnered with amazing organizations to offer even more value to our clients.
Our goal is to help you become more efficient by providing the right tools and resources. With ASUSU, you can easily extend your amazing offerings to the communities you serve. Let us help you make a positive impact today!
        </p>
        <p>
            <button class="primary">
                Get Started
            </button>
        </p>
    </div>
</div>
