div#aboutsection2 {
    height: 850px;
    background-color: #CCE7F880;
    display: flex;
    flex-direction: column;
    color: #001B2C;
}
div#aboutsection2 > div {
    width: 400px;
    height: 400px;
    margin-left: calc((100% - 400px)/2);
}
div#aboutsection2 > div > img {
    width: 300px;
    height: 300px;
    margin-left: calc((100% - 300px)/2);
}
div#aboutsection2 > div:nth-child(1) > p {
    width: 220px;
    height: 30px;
    font-family: Poppins;
    font-style: italic;
    font-size: 12px;
    line-height: 30px;
    margin-left: calc((100% - 220px)/2);
}
div#aboutsection2 > div:nth-child(2) > * {
    width: 384px;
    margin-left: calc((100% - 384px)/2);
}
div#aboutsection2 > div:nth-child(2) > p:nth-child(1) {
    height: 60px;
    font-family: Montserrat;
    font-size: 24px;
    line-height: 30px;
}
div#aboutsection2 > div:nth-child(2) > p:nth-child(2) {
    height: 270px;
    font-family: Poppins;
    font-size: 10px;
    line-height: 30px;
    font-weight: 400;
}

@media screen and (min-width : 830px){
    div#aboutsection2 {
        height: 650px;
        flex-direction: row;
    }
    div#aboutsection2 > div:nth-child(1) {
        width: 380px;
        height: 600px;
        margin-left: calc((100% - 790px)/2);
    }
    div#aboutsection2 > div > img {
        width: 360px;
        height: 330px;
        margin-left: calc((100% - 360px)/2);
        margin-top: 50px;
    }   
    div#aboutsection2 > div:nth-child(2) {
        width: 400px;
        height: 600px;
        margin-left: 0px;
    }
    div#aboutsection2 > div:nth-child(2) > p:nth-child(1) {
        height: 134px;
        font-size: 36px;
        line-height: 44px;
    }
    div#aboutsection2 > div:nth-child(2) > p:nth-child(2) {
        height: 310px;
        font-size: 12px;
        line-height: 30px;
    }
    div#aboutsection2 > div:nth-child(1) > p {
        width: 220px;
        height: 30px;
        font-size: 12px;
        line-height: 30px;
        margin-left: calc((100% - 220px)/2);
    }
    
}

@media screen and (min-width : 1350px){
    div#aboutsection2 {
        height: 850px;
        width: 100%;
    }
    div#aboutsection2 > div:nth-child(1) {
        width: 610px;
        height: 700px;
        margin-left: calc((100% - 1200px)/2);;
    }
    div#aboutsection2 > div > img {
        width: 500px;
        height: 600px;
        margin-left: calc((100% - 500px)/2);
        margin-top: 50px;
    }   
    div#aboutsection2 > div:nth-child(2) {
        width: 520px;
        height: 700px;
        margin-left: 0px;
    }
    div#aboutsection2 > div:nth-child(2) > * {
        margin-left: 0px;
    }
    div#aboutsection2 > div:nth-child(2) > p:nth-child(1) {
        height: 170px;
        width: 520px;
        font-size: 48px;
        line-height: 58px;
    }
    div#aboutsection2 > div:nth-child(2) > p:nth-child(2) {
        height: 310px;
        font-size: 16px;
        width: 520px;
        line-height: 30px;
    }
    div#aboutsection2 > div:nth-child(1) > p {
        width: 520px;
        height: 30px;
        font-size: 16px;
        line-height: 30px;
        margin-left: calc((100% - 520px)/2);
    }
    
}
@media screen and (max-width : 410px){
    div#aboutsection2 {
        min-height: 450px;
    }
    div#aboutsection2 > div:nth-child(1) {
        width: 98%;
        height: 400px;
        margin-left: 1%;
    }
    div#aboutsection2 > div > img {
        width: 230px;
        height: 202px;
        margin-left: calc((100% - 230px)/2);
        margin-top: 50px;
    }   
    div#aboutsection2 > div:nth-child(2) {
        width: 95%;
        height: 400px;
        margin-left: 2.5%;
    }
    div#aboutsection2 > div:nth-child(2) > p:nth-child(1) {
        height: 75px;
        font-size: 20px;
        line-height: 25px;
        width: 100%;
        margin-left: 0px;
    }
    div#aboutsection2 > div:nth-child(2) > p:nth-child(2) {
        height: 200px;
        font-size: 8px;
        line-height: 20px;
        width: 100%;
        margin-left: 0px;
    }
    div#aboutsection2 > div:nth-child(2) > p:nth-child(3) {
        width: 100%;
        height: 80px;
        margin-left: 0px;
    }
    
}