<div id="homesection3">
    <div id="homesect">
        <p>
            Trusted by thousands <br />
            of organisation
        </p>
        <p>
            Our company has earned the trust of numerous organisations thanks to our reliable and efficient software solution .
        </p>
        <div>
            <div>
                <img src="../../../assets/kiosk.svg" />
                <p>
                Asusu Kiosk
                </p>
                <p>
                    Asusu Kiosk is a small and standalone structure, that provides information, goods services to the public.
                </p>
                <button>LEARN MORE <img src="../../../assets/arrow-right.svg" /></button>
            </div>
            <div>
                <img src="../../../assets/disburse.svg" />
                <p>
                    Asusu Disburse
                </p>
                <p>
                    Asusu Kiosk is a small and standalone structure, that provides information, goods services to the public.
                </p>
                <button>LEARN MORE <img src="../../../assets/arrow-right.svg" /></button>
            </div>
            <div>
                <img src="../../../assets/management.svg" />
                <p>
                    Management Software
                </p>
                <p>
                    Asusu Kiosk is a small and standalone structure, that provides information, goods services to the public.
                </p>
                <button>LEARN MORE <img src="../../../assets/arrow-right.svg" /></button>
            </div>
        </div>
    </div>
</div>
