<div id="pricinghead">
    <div>
        <div>
            <p>Straightforward payment solutions for your organisation</p>
            <p>
                Check the cost of using Asusu 
            </p>
            <p>
                Choosing pricing options according to where your organisation is located
            </p>
        </div>
        <select>
            <option value="south-africa">
                South Africa
            </option>
            <option value="nigeria">
                Nigeria
            </option>
            <option value="ghana">
                Ghana
            </option>
            <option value="zimbabwe">
                Zimbabwe
            </option>
        </select>
    </div>
</div>
