<div id="pricingsection2">
    <div class="plans">
        <div class="first">
            <img src="../../../assets/liteplanicon.png" />
            <span>Lite Plan</span>
        </div>
        <div>
            <div class="features">
                <img src="../../../assets/checkplanbutton.svg" /> <span>Add upto 399 members</span>
            </div>
            <div class="features">
                <img src="../../../assets/checkplanbutton.svg" /> <span>2 administrative members included</span>
            </div>
            <div class="features">
                <img src="../../../assets/checkplanbutton.svg" /> <span>Mobile apps for administrators and members</span>
            </div>
            <div class="features">
                <img src="../../../assets/checkplanbutton.svg" /> <span>Customized sender id available </span>
            </div>
            <div class="features">
                <img src="../../../assets/checkplanbutton.svg" /> <span>Free transactional messages included</span>
            </div>
            <div class="features">
                <img src="../../../assets/checkplanbutton.svg" /> <span>One-time setup fee (subject to terms and conditions )</span>
            </div>
        </div>
        <div class="money">
            <span>
                # 15,000 Monthly
            </span>
            <button class="primary">
                Get Started
            </button>
        </div>
    </div>
    <div class="plans">
        <div class="first">
            <img src="../../../assets/growthplanicon.png" />
            <span>Growth Plan</span>
        </div>
        <div>
            <div class="features">
                <img src="../../../assets/checkplanbutton.svg" /> <span>Add upto 399 members</span>
            </div>
            <div class="features">
                <img src="../../../assets/checkplanbutton.svg" /> <span>2 administrative members included</span>
            </div>
            <div class="features">
                <img src="../../../assets/checkplanbutton.svg" /> <span>Mobile apps for administrators and members</span>
            </div>
            <div class="features">
                <img src="../../../assets/checkplanbutton.svg" /> <span>Customized sender id available </span>
            </div>
            <div class="features">
                <img src="../../../assets/checkplanbutton.svg" /> <span>Free transactional messages included</span>
            </div>
            <div class="features">
                <img src="../../../assets/checkplanbutton.svg" /> <span>One-time setup fee (subject to terms and conditions )</span>
            </div>
        </div>
        <div class="money">
            <span>
                # 25,000 Monthly
            </span>
            <button class="primary">
                Get Started
            </button>
        </div>
    </div>
    <div class="plans">
        <div class="first">
            <img src="../../../assets/customizedicon.png" />
            <span>Lite Plan</span>
        </div>
        <div>
            <div class="features">
                <img src="../../../assets/checkplanbutton.svg" /> <span>Add upto 399 members</span>
            </div>
            <div class="features">
                <img src="../../../assets/checkplanbutton.svg" /> <span>2 administrative members included</span>
            </div>
            <div class="features">
                <img src="../../../assets/checkplanbutton.svg" /> <span>Mobile apps for administrators and members</span>
            </div>
            <div class="features">
                <img src="../../../assets/checkplanbutton.svg" /> <span>Customized sender id available </span>
            </div>
            <div class="features">
                <img src="../../../assets/checkplanbutton.svg" /> <span>Free transactional messages included</span>
            </div>
            <div class="features">
                <img src="../../../assets/checkplanbutton.svg" /> <span>One-time setup fee (subject to terms and conditions )</span>
            </div>
        </div>
        <div class="money">
            <span>
                # 30,000 Monthly
            </span>
            <button class="primary">
                Get Started
            </button>
        </div>
    </div>

    <div class="plans">
        <div class="first">
            <img src="../../../assets/liteplanicon.png" />
            <span>Customized Plan</span>
        </div>
        <div>
            <p>
                Want to get a customized solution for your organization ?
            </p>
            <p>Contact us today</p>
            <p class="add">
                <img src="../../../assets/call1.svg"/><span>askasusu.com.ng</span>
            </p>
            <p class="add">
                <img src="../../../assets/call2.svg"/><span>+234 816 300 0015</span>
            </p>
            <p class="add">
                <img src="../../../assets/call2.svg"/><span>+234 909 948 8595</span>
            </p>
        </div>
        <span dir="rtl">
            <button class="primary">
                Get Started
            </button>
        </span>
    </div>
</div>
