<div id="homesection1">
    <div>
        <div>
            <p class="digital">
                Digitize And <br />
                Manage Your <br />
                <span>CO-OPERATIVE</span>
            </p>
            <p class="account">
                Create A Free Account Now And Experience the benefits<br />
                of digital savings and loans .
            </p>
            <p>
                <button class="primary">Get Started</button><span>Learn More</span>
            </p>
            <p>
                Join this businesses in digitizing 
            </p>
            <br />
            <p>
                <img src="../../../assets/zera.svg" />
                <img src="../../../assets/partner2.svg" />
                <img src="../../../assets/partner3.svg" />
                <img src="../../../assets/partner4.svg" />
                <img src="../../../assets/partner5.svg" />
                <img src="../../../assets/partner6.svg" />
            </p>
        </div>
        <div>
            <img src="../../../assets/homesection1img.png" [class]="image1" (mouseenter)="hoverEffect(1)" (mouseleave)="hoverEffect(2)"/>
            <img src="../../../assets/VARIANT 4 1.png" [class]="image2" (mouseenter)="hoverEffect(2)" (mouseleave)="hoverEffect(3)"/>
            <img src="../../../assets/VARIANT 4 1.svg" [class]="image3" (mouseenter)="hoverEffect(3)" (mouseleave)="hoverEffect(1)"/>
        </div>
    </div>
</div>
